### MAVEN / JAVA ###
target/
!.mvn/wrapper/maven-wrapper.jar
*.log
*.class
*.jar
*.war
*.ear

### IntelliJ ###
.idea/
*.iml
out/

### VSCode ###
.vscode/

### Spring ###
application-dev.properties
application-test.properties

### Angular ###
dist/
node_modules/
.angular/
tmp/
out-tsc/
