.private-layout {
  min-height: calc(100vh - 120px); /* header + footer aprox */
  background: transparent;
}

.content {
  padding: 20px;
  background: transparent;
  color: var(--color-text);
  min-height: inherit;
}
