/* Global reset */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Tema por defecto*/
:root {
  --color-bg: #111111;                 
  --color-bg-alt: #1a1a1a;            
  --color-text: #ffffff;               

  --color-header-bg: #000000;          
  --color-header-text: #ffffff;

  --color-sidebar-bg: #000000;        
  --color-sidebar-text: #cccccc;
  --color-sidebar-active-bg: #ff1a1a;  
  --color-sidebar-active-text: #ffffff;

  --color-footer-bg: #000000;          
  --color-footer-text: #cccccc;

  --color-border: #444444;            
  --color-accent: #ff1a1a;             
  --color-overlay-dark: rgba(0, 0, 0, 0.65);
}

/* Tema claro*/
body.theme-light {
  --color-bg: #f5f5f5;
  --color-bg-alt: #ffffff;
  --color-text: #111111;

  --color-header-bg: #ffffff;
  --color-header-text: #111111;

  --color-sidebar-bg: #e5e5e5;
  --color-sidebar-text: #222222;
  --color-sidebar-active-bg: #ff1a1a;
  --color-sidebar-active-text: #ffffff;

  --color-footer-bg: #ffffff;
  --color-footer-text: #444444;

  --color-border: #dddddd;
  --color-accent: #ff1a1a;
}

/* Tema oscuro  */
body.theme-dark {
  --color-bg: #111111;
  --color-bg-alt: #1a1a1a;
  --color-text: #ffffff;

  --color-header-bg: #000000;
  --color-header-text: #ffffff;

  --color-sidebar-bg: #000000;
  --color-sidebar-text: #cccccc;
  --color-sidebar-active-bg: #ff1a1a;
  --color-sidebar-active-text: #ffffff;

  --color-footer-bg: #000000;
  --color-footer-text: #cccccc;

  --color-border: #444444;
  --color-accent: #ff1a1a;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
}
