.public-dashboard {
  position: relative;
  width: 100%;
  height: calc(100vh - 110px - 50px); 
  
  background-image: url('/assets/dashboard-bg.png');
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-overlay-dark);
}

.content {
  position: relative;
  z-index: 2;
  color: var(--color-header-text);
  text-align: center;
  top: 30%;
}

.content h1 {
  font-size: 48px;
  font-weight: 900;
  color: var(--color-header-text);
}

.red {
  color: var(--color-accent);
}

.content p {
  font-size: 20px;
  opacity: 0.9;
}

.actions {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  gap: 12px;
  flex-wrap: wrap;
}

.btn {
  display: inline-block;
  padding: 10px 25px;
  font-size: 18px;
  border: 2px solid var(--color-accent);
  color: var(--color-accent);
  text-decoration: none;
  border-radius: 6px;
  transition: 0.25s;
}

.btn:hover {
  background: var(--color-accent);
  color: var(--color-header-bg);
}
